*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color:rgba(0, 0, 0, 0.7);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}
.stopwatch{
    background-color:#000000;
    padding: 20px 24px;
    border-radius: 10px;
}

.timerDisplay{
    font-size: 50px;
    font-weight: 800;
}
.buttons{
    margin-top: 20px;
}

.buttons button{
    font-size: 20px;
    background: none;
    border: none;
    color: white;
    background-color: var(--clr);
    padding: 12px 24px;
    border-radius: 30px;
    margin-inline: 12px;
    cursor: pointer;
}